
  <!-- footer -->
  <div class="footer-top section-padding bg-black">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
          <div class="icon-box"> <span class="text-light-green"><i class="flaticon-credit-card-1"></i></span>
            <span class="text-custom-white">Pagamento 100%<br>garantido</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
          <div class="icon-box"> <span class="text-light-green"><i class="flaticon-wallet-1"></i></span>
            <span class="text-custom-white">Ofereça suporte a muitos<br>pagamentos</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
          <div class="icon-box"> <span class="text-light-green"><i class="flaticon-help"></i></span>
            <span class="text-custom-white">Suporte<br>24 horas / 7 dias</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
          <div class="icon-box"> <span class="text-light-green"><i class="flaticon-truck"></i></span>
            <span class="text-custom-white">Entrega gratuita<br>com R$50 </span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
          <div class="icon-box"> <span class="text-light-green"><i class="flaticon-guarantee"></i></span>
            <span class="text-custom-white">Melhor Preço<br>Garantido</span>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6">
          <div class="icon-box"> <span class="text-light-green"><i class="flaticon-app-file-symbol"></i></span>
            <span class="text-custom-white">Pronto para aplicativos para<br>celular</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright bg-black">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="copyright-text"> <span class="text-light-white">© <a href="#"
                class="text-light-white">GoodList</a> - 2020 | Todos Direitos Reservados</span>
          </div>
        </div>
      </div>
    </div>
  </div>
