<!-- Navigation -->
<nav class="toobar navbar navbar-expand-lg fixed-top" role="banner" id="mainNav">
  <div class="container">
    <ul class="navbar-nav navbar-brand text-uppercase ml-auto">
      <i class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#page-top">GoogList</a>
      </i>
    </ul>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!-- search -->
      <div class="col-lg-6 col-md-7">
        <div class="search-box padding-10">
          <input type="text" class="form-control" placeholder="Frutas, Vegetais, Leite, Ovos">
        </div>
      </div>
      <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
      <!-- menu -->
      <ul class="navbar-nav text-uppercase ml-auto">
        <i class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
        </i>
        <i class="nav-item">
          <a class="nav-link js-scroll-trigger" href="pages/login.html">Login</a>
        </i>
        <i class="nav-item">
          <a class="nav-link js-scroll-trigger" href="pages/register.html">Cadastro</a>
        </i>
      </ul>
    </div>
  </div>
</nav>
