@charset "utf-8";

html {
  overflow-x: hidden;
}
button:focus,
*:focus {
  outline: none;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 1.8;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
  transition: transform ease-in 0.4s;
  overflow: hidden;
}
button {
  background: transparent;
  border: none;
  padding: 0;
}
label {
  line-height: normal;
}
.align-item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.p-relative {
  position: relative;
}
.after-none:after,
.none {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.overlay-bg {
  background: #000;
  opacity: 0.5;
}
.overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.transform-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0%, -50%);
  z-index: 1;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before {
  font-size: inherit;
  margin: 0;
}
.image-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.animate-img {
  position: relative;
  overflow: hidden;
}
.animate-img:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
