<div class="inner-wrapper">
  <div class="container-fluid no-padding">
    <div class="row no-gutters overflow-auto">
      <div class="col-md-6">
        <div class="main-banner">
          <img src="../assets/img/banner/banner-1.jpg" class="img-fluid full-width main-img" alt="banner">
          <div class="overlay-2 main-padding">
            <a href="../index.html" type="button" class="btn btn-primary btn-lg btn-block">Voltar para página Home</a>
          </div>
          <img src="../assets/img/banner/burger.png" class="footer-img" alt="footer-img">
        </div>
      </div>
      <div class="col-md-6">
        <div class="section-2 user-page main-padding">
          <div class="login-sec">
            <div class="login-box">
              <form>
                <h4 class="text-light-black fw-600">Faça login com a sua conta GoogList</h4>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="text-light-white fs-14">Email</label>
                      <input type="email" name="#" class="form-control form-control-submit" placeholder="Email"
                        required>
                    </div>
                    <div class="form-group">
                      <label class="text-light-white fs-14">Senha</label>
                      <input type="password" id="password-field" name="#" class="form-control form-control-submit"
                        value="password" placeholder="Senha" required>
                      <div data-name="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></div>
                    </div>
                    <div class="form-group checkbox-reset">
                      <label class="custom-checkbox mb-0">
                        <input type="checkbox" name="#"> <span class="checkmark"></span>Lembre-se de mim</label> <a
                        href="#">Resetar Senha</a>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn-second btn-submit full-width">
                        Login</button>
                    </div>
                    <div class="form-group text-center"> <span>ou</span>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn-second btn-facebook full-width">
                        <img src="../assets/img/facebook-logo.svg" alt="btn logo">Continue com Facebook</button>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn-second btn-google full-width">
                        <img src="../assets/img/google-logo.png" alt="btn logo">Continue com Google</button>
                    </div>
                    <div class="form-group text-center mb-0"> <a href="register.html">Criar sua conta</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
