<!-- Slider -->
<section class="about-us-slider swiper-container p-relative">
  <swiper [config]="config" #usefulSwiper>
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-item">
      <img src="assets/img/about/blog/1920x700/banner-1.jpg" class="img-fluid full-width" alt="Banner">
      <div class="transform-center">
        <div class="container">
          <div class="row justify-content-start">
            <div class="col-lg-7 align-self-center">
              <div class="right-side-content">
                <h1 class="text-custom-white fw-600">Produtos frescos diretamente à sua porta</h1>
                <h3 class="text-custom-white fw-400">Com a maior plataforma de entrega do Brasil</h3>
                <a href="#" class="btn-second btn-submit">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay overlay-bg"></div>
    </div>
    <div class="swiper-slide slide-item">
      <img src="assets/img/about/blog/1920x700/banner-2.jpg" class="img-fluid full-width" alt="Banner">
      <div class="transform-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 align-self-center">
              <div class="right-side-content text-center">
                <h1 class="text-custom-white fw-600">Produtos Diários Frescos</h1>
                <h3 class="text-custom-white fw-400">Com a maior plataforma de entrega do Brasil</h3>
                <a href="#" class="btn-second btn-submit">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay overlay-bg"></div>
    </div>
    <div class="swiper-slide slide-item">
      <img src="assets/img/about/blog/1920x700/banner-3.jpg" class="img-fluid full-width" alt="Banner">
      <div class="transform-center">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-lg-7 align-self-center">
              <div class="right-side-content text-right">
                <h1 class="text-custom-white fw-600">Economize até 30% em seu primeiro pedido</h1>
                <h3 class="text-custom-white fw-400">Com a maior plataforma de entrega do Brasil</h3>
                <a href="#" class="btn-second btn-submit">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlay overlay-bg"></div>
    </div>
  </div>
</swiper>
</section>

<!-- banner-bottom -->
<section class="section-padding banner-bottom-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="infor-box mb-md-40">
          <div class="infor-box-wrapper">
            <div class="icon-box">
              <i class="flaticon-truck"></i>
            </div>
            <div class="text-box">
              <h6 class="text-light-black">Envio Grátis</h6>
              <span class="text-light-white">Com pedidos de R$50 ou mais</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="infor-box mb-md-40">
          <div class="infor-box-wrapper">
            <div class="icon-box">
              <i class="flaticon-wallet-1"></i>
            </div>
            <div class="text-box">
              <h6 class="text-light-black">Reembolso gratuito</h6>
              <span class="text-light-white">Reembolso de 100% dentro de 3 dias</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="infor-box">
          <div class="infor-box-wrapper">
            <div class="icon-box">
              <i class="flaticon-help"></i>
            </div>
            <div class="text-box">
              <h6 class="text-light-black">Suporte 24x7</h6>
              <span class="text-light-white">Ligue-nos sempre que quiser</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Browse by category -->
<section class="browse-cat u-line section-padding bg-light-green">
  <div class="container swiper-slider">
    <div class="row">
      <div class="col-12">
        <div class="section-header-left">
          <h3 class="text-custom-white header-title title">Procure por cozinha<span class="fs-14"><a href="#"
                class="text-white">Ver todos os produtos da fazenda</a></span></h3>
        </div>
      </div>
      <div class="col-12">
        <div class="category-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-1.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Alho</span>
              </a>
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-2.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Morango</span>
              </a>
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-3.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Pepino</span>
              </a>
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-4.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Banana</span>
              </a>
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-5.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Brócolis</span>
              </a>
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-6.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Cenoura</span>
              </a>
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-7.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Abacaxi</span>
              </a>
              <a href="#" class="categories">
                <div class="icon text-custom-white bg-light-green ">
                  <img src="assets/img/farms/125x125/cuisine-8.jpg" class="rounded-circle" alt="categories">
                </div> <span class="text-custom-white cat-name">Manga</span>
              </a>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Browse by category -->
<section class="section-padding about-farm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bottom-icons">
          <div class="row justify-content-center">
            <div class="col-lg col-md-4 col-sm-6">
              <div class="icon-box-wrapper mb-md-40">
                <div class="icon-box">
                  <i class="flaticon-user"></i>
                </div>
                <h6 class="text-light-black fw-600">Criar Conta</h6>
              </div>
            </div>
            <div class="col-lg col-md-4 col-sm-6">
              <div class="icon-box-wrapper mb-md-40">
                <div class="icon-box">
                  <i class="flaticon-app"></i>
                </div>
                <h6 class="text-light-black fw-600">Selecione Produzir</h6>
              </div>
            </div>
            <div class="col-lg col-md-4 col-sm-6">
              <div class="icon-box-wrapper mb-md-40">
                <div class="icon-box">
                  <i class="flaticon-wallet-1"></i>
                </div>
                <h6 class="text-light-black fw-600">Pagamento Completo</h6>
              </div>
            </div>
            <div class="col-lg col-md-4 col-sm-6">
              <div class="icon-box-wrapper mb-md-40">
                <div class="icon-box">
                  <i class="flaticon-guarantee"></i>
                </div>
                <h6 class="text-light-black fw-600">Aprovar entrega</h6>
              </div>
            </div>
            <div class="col-lg col-md-4 col-sm-6">
              <div class="icon-box-wrapper">
                <div class="icon-box">
                  <i class="flaticon-truck"></i>
                </div>
                <h6 class="text-light-black fw-600">Entrega em 4 horas</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- your previous order -->
<section class="section-padding sale-products bg-light-green">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header-left">
          <h3 class="text-light-black header-title title">Seus pedidos anteriores<span class="fs-14"><a
                href="order-details.html">Ver todos os pedidos anteriores</a></span></h3>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="product-item main-box mb-xl-20">
          <div class="img">
            <a href="#">
              <img src="assets/img/dish/150x151/dish-1.jpg" alt="image">
            </a> <span><a href="#">
                <i class="fa fa-shopping-bag"></i></a></span>
          </div>
          <div class="product-info">
            <h5><a href="#" class="text-light-black">Cheiro verde</a></h5>
            <p class="text-light-green fw-600">R$90 <span
                class="line-through text-light-white fs-16">R$180</span><span
                class="save-price text-light-green fs-12">economize R$90</span>
            </p>
            <div class="rating">
              <span>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="product-item main-box mb-xl-20">
          <div class="img">
            <a href="#">
              <img src="assets/img/dish/150x151/dish-2.jpg" alt="image">
            </a> <span><a href="#">
                <i class="fa fa-shopping-bag"></i></a></span>
          </div>
          <div class="product-info">
            <h5><a href="#" class="text-light-black">Cogumelos</a></h5>
            <p class="text-light-green fw-600">R$90 <span
                class="line-through text-light-white fs-16">R$180</span><span
                class="save-price text-light-green fs-12">economize R$90</span>
            </p>
            <div class="rating">
              <span>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="product-item main-box mb-xl-20">
          <div class="img">
            <a href="#">
              <img src="assets/img/dish/150x151/dish-3.jpg" alt="image">
            </a> <span><a href="#">
                <i class="fa fa-shopping-bag"></i></a></span>
          </div>
          <div class="product-info">
            <h5><a href="#" class="text-light-black">Pitaia</a></h5>
            <p class="text-light-green fw-600">R$90 <span
                class="line-through text-light-white fs-16">R$180</span><span
                class="save-price text-light-green fs-12">economize R$90</span>
            </p>
            <div class="rating">
              <span>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="product-item main-box mb-xl-20">
          <div class="img">
            <a href="#">
              <img src="assets/img/dish/150x151/dish-4.jpg" alt="image">
            </a> <span><a href="#">
                <i class="fa fa-shopping-bag"></i></a></span>
          </div>
          <div class="product-info">
            <h5><a href="#" class="text-light-black">Nabo</a></h5>
            <p class="text-light-green fw-600">R$90 <span
                class="line-through text-light-white fs-16">R$180</span><span
                class="save-price text-light-green fs-12">economize R$90</span>
            </p>
            <div class="rating">
              <span>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="product-item main-box mb-xl-20">
          <div class="img">
            <a href="#">
              <img src="assets/img/dish/150x151/dish-5.jpg" alt="image">
            </a> <span><a href="#">
                <i class="fa fa-shopping-bag"></i></a></span>
          </div>
          <div class="product-info">
            <h5><a href="#" class="text-light-black">Rabanete</a></h5>
            <p class="text-light-green fw-600">R$90 <span
                class="line-through text-light-white fs-16">R$180</span><span
                class="save-price text-light-green fs-12">economize R$90</span>
            </p>
            <div class="rating">
              <span>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="product-item main-box mb-xl-20">
          <div class="img">
            <a href="#">
              <img src="assets/img/dish/150x151/dish-6.jpg" alt="image">
            </a> <span><a href="#">
                <i class="fa fa-shopping-bag"></i></a></span>
          </div>
          <div class="product-info">
            <h5><a href="#" class="text-light-black">Alface</a></h5>
            <p class="text-light-green fw-600">R$90 <span
                class="line-through text-light-white fs-16">R$180</span><span
                class="save-price text-light-green fs-12">economize R$90</span>
            </p>
            <div class="rating">
              <span>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
                <i class="fa fa-star text-yellow"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
